<%= form_for(@sujet) do |f| %>
  <% if @sujet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sujet.errors.count, "error") %> prohibited this sujet from being saved:</h2>

      <ul>
      <% @sujet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
